@model CoreUI.Web.Models.ViewModel.EmployeeFormViewModel

@{
  ViewData["Title"] = "Create";
    Layout = "";
}



<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Create Employee
          <div class="card-header-actions">
            <!--
            <a asp-action="Create">
              <input type="hidden" asp-for="Employee.@@ViewData["Email"]" />
              <input type="hidden" asp-for="Employee.@@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
            -->
          </div>
        </div>
        <div class="card-body">
          <form enctype="multipart/form-data" id="EmployeeForm" asp-action="Create">
            <div class="form-group row">
              <div class="input-group col-12" title="Email">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                <input asp-for="Employee.Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Employee.Email" class="text-danger col-12"></span>
              </div>
            </div>
            <div class="form-group row">
              <div class="input-group col-12" title="Nome">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <input asp-for="Employee.Name" class="form-control" placeholder="Nome Completo" />
                <span asp-validation-for="Employee.Name" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-2" title="Senha">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input type="password" asp-for="Employee.Password" class="form-control" placeholder="Senha" />
                <span asp-validation-for="Employee.Password" name="employee_password" id="employee_password" class="text-danger col-12">Password invalid</span>
              </div>

              <div class="input-group col-2" title="Confirmar senha">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="Confirmar Senha" />
                <span class="text-danger col-12"></span>
              </div>


              <div class="input-group col-2">
                <div class="input-group-prepend" title="Nível de acesso">
                  <span class="input-group-text">
                    <i class="fa fa-address-book-o"></i>
                  </span>
                </div>
                <select asp-for="Employee.Access_LevelId" asp-items="@(new SelectList(Model.Access_Level, "Id", "Access_level"))" class="form-control">
                  <option value="" disabled selected>Nível de acesso</option>
                </select>
                <span asp-validation-for="Employee.Access_LevelId" name="employee_accessLevel" id="employee_accessLevel" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-2" title="Modo de contrato">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                <select asp-for="Employee.Contract_Mode" class="form-control">
                  <option value="" disabled selected>Forma de contrato</option>
                  <option value="CLT">CLT</option>
                  <option value="CLT Flex">CLT Flex</option>
                  <option value="PJ">PJ</option>
                </select>
                <span asp-validation-for="Employee.Contract_Mode" class="text-danger"></span>
              </div>

              <!--
  <div class="input-group col-2">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-money"></i>
      </span>
    </div>
    <input asp-for="Employee.Salary" class="form-control" placeholder="Salary" />
    <span asp-validation-for="Employee.Salary" name="employee_salary" id="employee_salary" class="text-danger col-12">Salary invalid</span>
  </div>
  -->

              <div class="input-group col-2">
                <div class="input-group-prepend" title="Apontamento">
                  <span class="input-group-text">
                    <i class="fa fa-address-book-o"></i>
                  </span>
                </div>
                <select asp-for="Employee.Appointment" class="form-control">
                  <option value="" disabled>Apontamento</option>
                  <option selected value="1">Sim</option>
                  <option value="0">Não</option>
                </select>
                <span asp-validation-for="Employee.Appointment" name="employee_appointment" id="employee_appointment" class="text-danger col-12">Appointment invalid</span>
              </div>

              <div class="input-group col-2" title="Status">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-check"></i>
                  </span>
                </div>
                <select class="form-control" asp-for="Employee.Active">
                  <option value="" disabled>Status</option>
                  <option value="1">Sim</option>
                  <option value="0">Não</option>
                </select>
              </div>
            </div>

            <input type="hidden" asp-for="Employee.Document" value="Sem Documento"/>
            <input type="hidden" asp-for="Employee.Change_Password" class="form-control" placeholder="Change Password" value="1" />
            <input type="hidden" asp-for="Employee.Active" class="form-control" placeholder="Active" value="1" />


            <div class="form-group form-actions text-right col-12">
              <button class="btn btn-sm btn-warning" type="button" data-dismiss="modal" aria-label="Close">Voltar</button>
              <button class="btn btn-sm btn-success" type="button" onclick="EmployeeSubmit();">Criar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #employee_salary,
  #employee_appointment,
  #employee_password {
    display: none;
  }
</style>
<script src="~/js/Employee/Generic.js?@DateTime.Now.ToString()"></script>
@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
