@model CoreUI.Web.Models.ViewModel.EmployeeFormViewModel

@{
  ViewData["Title"] = "Create";
}



<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Edit Employee
          <div class="card-header-actions">
            <a asp-action="Create">
              <input type="hidden" asp-for="@ViewData["Email"]" />
              <input type="hidden" asp-for="@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <form id="EmployeeForm" enctype="multipart/form-data" asp-action="Edit">
            <input type="hidden" asp-for="Employee.Id" />
            <div class="form-group row">
              <div class="input-group col-10">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                <input asp-for="Employee.Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Employee.Email" class="text-danger col-12"></span>
              </div>
            </div>
            <div class="form-group row">
              <div class="input-group col-10">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <input asp-for="Employee.Name" class="form-control" placeholder="Full Name" />
                <span asp-validation-for="Employee.Name" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input type="password" name="pswd" id="pswd" class="form-control" placeholder="Senha" />
              </div>

              <div class="input-group col-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="Confirmar Senha" value=""/>
                <span class="text-danger col-12"></span>
              </div>

              <div class="input-group col-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-address-book-o"></i>
                  </span>
                </div>
                <select asp-for="Employee.Access_LevelId" asp-items="@(new SelectList(Model.Access_Level, "Id", "Access_level"))" class="form-control">
                  <option value="">Access Level</option>
                </select>
                <span asp-validation-for="Employee.Access_LevelId" name="employee_appointment" id="employee_appointment" class="text-danger col-12">Appointment invalid</span>
              </div>

              <div class="input-group col-2" title="Modo de contrato">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                <select asp-for="Employee.Contract_Mode" class="form-control">
                  <option value="" disabled>Forma de contrato</option>
                  <option value="CLT">CLT</option>
                  <option value="CLT Flex">CLT Flex</option>
                  <option value="PJ">PJ</option>
                </select>
                <span asp-validation-for="Employee.Contract_Mode" class="text-danger"></span>
              </div>

              <div class="input-group col-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-address-book-o"></i>
                  </span>
                </div>
                <select asp-for="Employee.Appointment" class="form-control">
                  <option value="">Compromisso</option>
                  <option selected value="1">Sim</option>
                  <option value="0">Não</option>
                </select>
                <span asp-validation-for="Employee.Appointment" name="employee_appointment" id="employee_appointment" class="text-danger col-12">Appointment invalid</span>
              </div>
            </div>

            <div class="row">
              <div class="input-group col-4" title="Status">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-check"></i>
                  </span>
                </div>
                <select class="form-control" asp-for="Employee.Active">
                  <option value="" disabled>Status</option>
                  <option value="1">Sim</option>
                  <option value="0">Não</option>
                </select>
              </div>
            </div>

            <input type="hidden" asp-for="Employee.Document" />
            <input type="hidden" asp-for="Employee.Password" class="form-control" placeholder="Senha" />
            <input type="hidden" asp-for="Employee.Change_Password" class="form-control" placeholder="Change Password" value="0" />
            <input type="hidden" name="file" id="file" />

            <div class="form-group form-actions text-right col-10">
              <button class="btn btn-sm btn-warning" type="submit" asp-action="Index" onclick="$('.modalSpinner').modal('show')">Voltar</button>
              <button class="btn btn-sm btn-success" type="button" onclick="EmployeeSubmit();">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="toast-container" class="toast-top-center" style="display:none;">
    <div class="toast toast-info" aria-live="polite">
      <div class="toast-title">Saved</div>
      <div class="toast-message">
        Saved successfully
      </div>
    </div>
  </div>

  <style>
    #employee_salary,
    #employee_appointment {
      display: none;
    }
  </style>

  <script src="~/js/Employee/Generic.js"></script>
  @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  }
