@model CoreUI.Web.Models.ViewModel.EmployeeFormViewModel

@{
  ViewData["Title"] = "Create";
}



<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Edit Employee
          <div class="card-header-actions">
            <a asp-action="Create">
              <input type="hidden" asp-for="@ViewData["Email"]" />
              <input type="hidden" asp-for="@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <form id="EmployeeForm" enctype="multipart/form-data" asp-controller="Employees" asp-action="Edit">
            <input type="hidden" asp-for="Employee.Id" />
            <div class="form-group row">
              <div class="input-group col-10">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                <input asp-for="Employee.Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Employee.Email" class="text-danger col-12"></span>
              </div>
            </div>
            <div class="form-group row">
              <div class="input-group col-10">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <input asp-for="Employee.Name" class="form-control" placeholder="Full Name" />
                <span asp-validation-for="Employee.Name" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-4" title="Document">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-file-text"></i>
                  </span>
                </div>
                <input type="file" asp-for="Employee.Document" class="mt-1 ml-1">
                <span asp-validation-for="Employee.Document" class="text-danger"></span>
              </div>

              <div class="input-group col-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                <input asp-for="Employee.Contract_Mode" class="form-control" placeholder="Contract Mode" />
                <span asp-validation-for="Employee.Contract_Mode" class="text-danger"></span>
              </div>

              <!--
    <div class="input-group col-2">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-money"></i>
        </span>
      </div>
      <input asp-for="Salary" class="form-control" placeholder="Salary" />
      <span asp-validation-for="Salary" name="employee_salary" id="employee_salary" class="text-danger col-12">Salary invalid</span>
    </div>
    -->
              <div class="input-group col-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-address-book-o"></i>
                  </span>
                </div>
                <select asp-for="Employee.Appointment" class="form-control">
                  <option value="" disabled>Appointment</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <span asp-validation-for="Employee.Appointment" name="employee_appointment" id="employee_appointment" class="text-danger col-12">Appointment invalid</span>
              </div>

              <div class="input-group col-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-address-book-o"></i>
                  </span>
                </div>
                <select asp-for="Employee.Access_LevelId" asp-items="@(new SelectList(Model.Access_Level, "Id", "Access_level"))" class="form-control">
                  <option value="">Access Level</option>
                </select>
                <span asp-validation-for="Employee.Access_LevelId" name="employee_appointment" id="employee_appointment" class="text-danger col-12">Appointment invalid</span>
              </div>
            </div>

            <input type="hidden" asp-for="Employee.Change_Password" class="form-control" placeholder="Change Password" value="0" />
            <input type="hidden" asp-for="Employee.Active" class="form-control" placeholder="Active" value="1" />
            <input type="hidden" asp-for="Employee.Password" class="form-control" />
            <input type="hidden" name="file" id="file" />

            <div class="form-group form-actions text-right col-10">
              <button class="btn btn-sm btn-warning" type="submit" asp-action="Index">Back to list</button>
              <button class="btn btn-sm btn-success" type="button"  onclick="EmployeeSubmit();" id="a">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="toast-container" class="toast-top-center" style="display:none;">
    <div class="toast toast-info" aria-live="polite">
      <div class="toast-title">Saved</div>
      <div class="toast-message">
        Saved successfully
      </div>
    </div>
  </div>

  <style>
    #employee_salary,
    #employee_appointment {
      display: none;
    }
  </style>

  <script>
    function EmployeeSubmit() {

      $('#employee_salary').hide();
      $('#employee_appointment').hide();

      if ($('#Salary').val() == '') {
        $('#Salary').focus();
        $('#employee_salary').show();
        return;
      }

      if ($('#Appointment').val() == '') {
        $('#Appointment').focus();
        $('#employee_appointment').show();
        return;
      }

      file = document.querySelector('#file').value;
      name = document.querySelector('#Employee_Document').files[0].name;
      type = document.querySelector('#Employee_Document').files[0].type


      //download(file, name, type);
      //return false;

      $('#toast-container').toggle();
      $('#EmployeeForm').submit();
    }

    window.onload = function () {
      //Check the support for the File API support
      if (window.File && window.FileReader && window.FileList && window.Blob) {
        var fileSelected = document.querySelector('#Employee_Document');
        fileSelected.addEventListener('change', function (e) {
          //Set the extension for the file
          var fileExtension = /text.*/;
          //Get the file object
          var fileTobeRead = fileSelected.files[0];
          //Check of the extension match
          if (fileTobeRead.type.match(fileExtension)) {
            //Initialize the FileReader object to read the 2file
            var fileReader = new FileReader();
            fileReader.onload = function (e) {
              var fileContents = document.querySelector('#file');
              fileContents.value = fileReader.result;
            }
            fileReader.readAsText(fileTobeRead);
          }
          else {
            alert("Por favor selecione arquivo texto");
          }

        }, false);
      }
      else {
        alert("Arquivo(s) não suportado(s)");
      }
    }

    function download(text, name, type) {
      var a = document.getElementById("a");
      var file = new Blob([text], { type: type });
      a.href = URL.createObjectURL(file);
      a.download = name;
    }

    
  </script>
  @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  }
