@model CoreUI.Web.Models.ViewModel.ProjectFormViewModel

@{
  ViewData["Title"] = "Create";
}



<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Create Client
          <div class="card-header-actions">
            <a asp-action="Create">
              <input type="hidden" asp-for="Project.@ViewData["Email"]" />
              <input type="hidden" asp-for="Project.@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <form id="projectForm" asp-action="Create">
            <div class="form-group row">
              <div class="input-group col-10">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <input asp-for="Project.Project_Name" class="form-control" />
                <span asp-validation-for="Project.Project_Name" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-10">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select class="form-control" asp-items="@(new SelectList(Model.Client, "Id", "Name"))">
                  <option value="value">text</option>
                </select>
                <span asp-validation-for="Project.Client_Id" class="text-danger col-12"></span>
              </div>
            </div>


            <div class="form-group row">
              <div class="input-group col-5">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <input asp-for="Project.Cost_Center_Id" class="form-control" value="0" />
                <span asp-validation-for="Project.Cost_Center_Id" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-5">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select class="form-control" asp-for="Project.Active">
                  <option value="" disabled selected>Active</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <span asp-validation-for="Project.Active" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group form-actions text-right col-10">
              <button class="btn btn-sm btn-warning" type="submit" asp-action="Index">Back to list</button>
              <button class="btn btn-sm btn-success" type="submit">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="toast-container" class="toast-top-center" style="display:none;">
  <div class="toast toast-info" aria-live="polite">
    <div class="toast-title">Saved</div>
    <div class="toast-message">
      Saved successfully
    </div>
  </div>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
