@model CoreUI.Web.Models.DetailsPricing

@{
  ViewData["Title"] = "Create";
  Layout = "";
}


<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Precificação
          <div class="card-header-actions">
            <!--
            <a asp-action="Create">
              <input type="hidden" asp-for="Pricing.@@ViewData["Email"]" />
              <input type="hidden" asp-for="Pricing.@@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
                -->
          </div>
        </div>
        <div class="card-body">
          <form id="DetailsPricingsForm" asp-action="Create" enctype="multipart/form-data">
            <div class="form-group row">
              <div class="input-group col-12" title="Contratação">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="TypeContract" class="form-control" placeholder="Contratação" />
                <span asp-validation-for="TypeContract" name="typeContract" id="typeContract" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Especialidade/Nome">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="SpecialtyName" class="form-control" placeholder="Especialidade/Nome" />
                <span asp-validation-for="SpecialtyName" name="specialtyName" id="specialtyName" class="text-danger"></span>
              </div>
            </div>


            <div class="form-group row">
              <div class="input-group col-12" title="Horas mês">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="HoursMonth" class="form-control" placeholder="Horas mês" />
                <span asp-validation-for="HoursMonth" name="hoursMonth" id="hoursMonth" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Horas consultor">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="HourConsultant" class="form-control" placeholder="Horas consultor" />
                <span asp-validation-for="HourConsultant" name="hourConsultant" id="hourConsultant" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Horas venda">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="HourSale" class="form-control" placeholder="Horas venda" />
                <span asp-validation-for="HourSale" name="hourSale" id="hourSale" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Valor CLT">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="ValueCLTType" class="form-control" placeholder="Valor CLT" />
                <span asp-validation-for="ValueCLTType" name="valueCLTType" id="valueCLTType" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Vale transporte">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="VT" class="form-control" placeholder="Vale transporte" />
                <span asp-validation-for="VT" name="vt" id="vt" class="text-danger"></span>
              </div>
            </div>


            <div class="form-group row">
              <div class="input-group col-12" title="Ajuda/Custo">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="Cust" class="form-control" placeholder="Ajuda/Custo" />
                <span asp-validation-for="Cust" name="cust" id="cust" class="text-danger"></span>
              </div>
            </div>


            <div class="form-group row">
              <div class="input-group col-12" title="Idade">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="AgeYears" class="form-control" placeholder="Idade" />
                <span asp-validation-for="AgeYears" name="ageYears" id="ageYears" class="text-danger"></span>
              </div>
            </div>

            <input type="hidden" asp-for="Hiring_Id" class="form-control" />
            <div class="form-group form-actions text-right col-12">
              <button class="btn btn-sm btn-warning" type="submit" asp-action="Index">Voltar</button>
              <button class="btn btn-sm btn-success" type="button" onclick="SubmitPricing();">Criar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="~/js/DetailsPricing/Generic.js"></script>

