@model CoreUI.Web.Models.ViewModel.PricingFormViewModel

@{
  ViewData["Title"] = "Create";
  Layout = "";
}

<style>
  .text-danger-span {
    display: none;
  }
</style>

<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Precificação
          <div class="card-header-actions">
            <!--
            <a asp-action="Create">
              <input type="hidden" asp-for="DetailsPricing.Pricing.@@ViewData["Email"]" />
              <input type="hidden" asp-for="DetailsPricing.Pricing.@@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
                -->
          </div>
        </div>
        <div class="card-body">
          <form id="DetailsPricingsForm" asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group row">
              <div class="input-group col-12" title="Contratação">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-file"></i>
                  </span>
                </div>
                <select asp-for="DetailsPricing.TypeContract" class="form-control" asp-items="@(new SelectList(Model.Hiring, "Id", "Name"))">
                  <option value="">Contratação</option>
                </select>
                <span asp-validation-for="DetailsPricing.TypeContract" name="typeContract" id="typeContract" class="text-danger text-danger-span col-12">Contratação inválida</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Especialidade/Nome">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="DetailsPricing.SpecialtyName" class="form-control" placeholder="Especialidade/Nome" />
                <span asp-validation-for="DetailsPricing.SpecialtyName" name="specialtyName" id="specialtyName" class="text-danger text-danger-span col-12">Especialidade/Nome inválida</span>
              </div>
            </div>


            <div class="form-group row">
              <div class="input-group col-12" title="Horas mês">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="DetailsPricing.HoursMonth" class="form-control" placeholder="Horas mês" value="168" />
                <span asp-validation-for="DetailsPricing.HoursMonth" name="hoursMonth" id="hoursMonth" class="text-danger text-danger-span col-12">Horas mês inválido</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Horas consultor">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="DetailsPricing.HourConsultant" class="form-control" placeholder="Horas consultor" />
                <span asp-validation-for="DetailsPricing.HourConsultant" name="hourConsultant" id="hourConsultant" class="text-danger text-danger-span col-12">Horas consultor inválido</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Horas venda">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="DetailsPricing.HourSale" class="form-control" placeholder="Horas venda" />
                <span asp-validation-for="DetailsPricing.HourSale" name="hourSale" id="hourSale" class="text-danger text-danger-span col-12">Horas venda inválida</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Valor CLT">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-money"></i>
                  </span>
                </div>
                <input asp-for="DetailsPricing.ValueCLTType" class="form-control" placeholder="Valor CLT" />
                <span asp-validation-for="DetailsPricing.ValueCLTType" name="valueCLTType" id="valueCLTType" class="text-danger text-danger-span col-12">Valor CLT inválido</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Vale transporte">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-money"></i>
                  </span>
                </div>
                <input asp-for="DetailsPricing.VT" class="form-control" placeholder="Vale transporte" />
                <span asp-validation-for="DetailsPricing.VT" name="vt" id="vt" class="text-danger text-danger-span col-12">VT inválido</span>
              </div>
            </div>


            <div class="form-group row">
              <div class="input-group col-12" title="Ajuda/Custo">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="DetailsPricing.Cust" class="form-control" placeholder="Ajuda/Custo" />
                <span asp-validation-for="DetailsPricing.Cust" name="cust" id="cust" class="text-danger text-danger-span col-12">Ajuda/Custo inválido</span>
              </div>
            </div>


            <div class="form-group row">
              <div class="input-group col-12" title="Idade">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input type="date" class="form-control clssAgeYears" placeholder="Idade" onchange="ageYears();" />
                <span asp-validation-for="DetailsPricing.AgeYears" name="ageYears" id="ageYears" class="text-danger text-danger-span col-12">Idade inválida</span>
              </div>
            </div>

            <input type="hidden" asp-for="DetailsPricing.AgeYears" />
            <input type="hidden" asp-for="DetailsPricing.Hiring_Id" class="form-control" />
            <input type="hidden" asp-for="DetailsPricing.Id" />
            <div class="form-group form-actions text-right col-12">
              <button class="btn btn-sm btn-warning" type="button" onclick="Modal(`/Pricings/Edit/${$('#DetailsPricing_Hiring_Id').val()}`, 'GET')">Voltar</button>
              <button class="btn btn-sm btn-success" type="button" onclick="SubmitPricing();">Editar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="~/js/DetailsPricing/Generic.js"></script>
