.cursor-pointer{
    cursor: pointer;
}

table thead tr:first-child {
    background-color: #EF8223;
    color: #fff;
    /*color: rgb(255, 255, 255);*/
}

table thead tr:first-child th{
    border-color: #010101;
    width: 60px;
}
