@model CoreUI.Web.Models.ViewModel.PricingFormViewModel

@{
  ViewData["Title"] = "Create";
  Layout = "";
}


<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Aprovação de horas
          <div class="card-header-actions">
            <!--
            <a asp-action="Create">
              <input type="hidden" asp-for="Pricing.@@ViewData["Email"]" />
              <input type="hidden" asp-for="Pricing.@@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
                -->
          </div>
        </div>
        <div class="card-body">
          <form id="PricingsForm" asp-action="Create" enctype="multipart/form-data">
            <div class="form-group row">
              <div class="input-group col-12" title="Tipo de precificação">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="Pricing.TypePricing" class="form-control" placeholder="Tipo de precificação" />
                <span asp-validation-for="Pricing.TypePricing" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Cliente">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select asp-for="Pricing.Client_Id" class="form-control" asp-items="@(new SelectList(Model.Clients, "Id", "Name"))">
                  <option value="">Cliente</option>
                </select>
                <span asp-validation-for="Pricing.Client_Id" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Alocação">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="Pricing.Allocation" class="form-control" placeholder="Alocação" />
                <span asp-validation-for="Pricing.Allocation" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Executivo da conta">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input type="text" asp-for="Pricing.AccountExecutive" class="form-control" placeholder="Executivo da conta" />
                <span asp-validation-for="Pricing.AccountExecutive" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Número da proposta">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input type="number" asp-for="Pricing.NumberProposal" class="form-control" placeholder="Número da proposta" />
                <span asp-validation-for="Pricing.NumberProposal" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Gerente">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select asp-for="Pricing.AllocationManager_Id" class="form-control" asp-items="@(new SelectList(Model.Employees, "Id", "Name"))">
                  <option value="">Gerente</option>
                </select>
                <span asp-validation-for="Pricing.AllocationManager_Id" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Responsável">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <select asp-for="Pricing.Administrator_Id" class="form-control" asp-items="@(new SelectList(Model.Employees, "Id", "Name"))">
                  <option value="">Responsável</option>
                </select>
                <span asp-validation-for="Pricing.Administrator_Id" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Data inicial">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="Pricing.InitialDate" class="form-control" placeholder="Data inicial" />
                <span asp-validation-for="Pricing.InitialDate" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Data final">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="Pricing.EndDate" class="form-control" placeholder="Data final" />
                <span asp-validation-for="Pricing.EndDate" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Tempo">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="Pricing.TimeBetweenInitialAndEndDate" class="form-control" placeholder="Tempo entre a data final e inicial" />
                <span asp-validation-for="Pricing.TimeBetweenInitialAndEndDate" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Risco">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="Pricing.Risk" class="form-control" placeholder="Risco" />
                <span asp-validation-for="Pricing.Risk" class="text-danger"></span>
              </div>
            </div>

            <div class="form-group form-actions text-right col-12">
              <button class="btn btn-sm btn-warning" type="submit" asp-action="Index">Voltar</button>
              <button class="btn btn-sm btn-success" type="button" onclick="FormSubmit()">Criar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" name="hiring_Id" id="hiring_Id" value="" />
<script>
  function FormSubmit() {
    var form = $('#PricingsForm').serialize();

    $.ajax({
      url: '/Pricings/CreateAsync',
      type: 'POST',
      dataType: 'html',
      data: form,
    })
      .done(function (data) {
        console.log("success");
        $('#hiring_Id').val(data)
      })
      .fail(function () {
        console.log("error");
      })
      .always(function () {
        console.log("complete");
      });
  }
</script>
