@model CoreUI.Web.Models.Hour

@{
  ViewData["Title"] = "Details";
    Layout = "";
}


<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Detalhe do lançamento
          <div class="card-header-actions">
            <!--
            <a asp-action="Create">
              <input type="hidden" asp-for="@@ViewData["Email"]" />
              <input type="hidden" asp-for="@@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
            -->
          </div>
        </div>
        <div class="card-body">
          <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />

            <div class="form-group row">
              <div class="input-group col-12" title="Projeto">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input asp-for="Project" class="form-control" readonly />
                <span asp-validation-for="Project" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Descrição">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar-check-o"></i>
                  </span>
                </div>
                <select asp-for="Description" class="form-control" onchange="this.value == 3 ? $('.divDocument').show() : $('.divDocument').hide()" disabled>
                  <option value="">Selecione</option>
                  <option value="1">Dia útil</option>
                  <option value="2">Férias</option>
                  <option value="3">Licença</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Atestado/Declaração">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                @if (@Model.File != "Sem Documento")
                {
                  <a href="~/Files/Hour/@Model.File" download="" class="ml-2 mt-1">@Model.File</a>
                }
                else
                {
                  <a class="ml-2 mt-1">@Model.File</a>
                }
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Data">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input asp-for="Date" class="form-control" readonly />
                <span asp-validation-for="Date" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-2" title="Hora de entrada">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Start_Time" class="form-control" onchange="calculaHoraEdit()" readonly />
                <span asp-validation-for="Start_Time" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-2" title="Pausa para o almoço">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Stop_Time" class="form-control" onchange="calculaHoraEdit()" readonly />
                <span asp-validation-for="Stop_Time" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-2" title="Volta do almoço">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Start_Time_2" class="form-control" onchange="calculaHoraEdit()" readonly />
                <span asp-validation-for="Start_Time_2" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-2" title="Hora de saída">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Stop_Time_2" class="form-control" onchange="calculaHoraEdit()" readonly />
                <span asp-validation-for="Stop_Time_2" class="text-danger col-12"></span>
              </div>

              <div class="input-group col-2" title="Total de horas">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-clock-o"></i>
                  </span>
                </div>
                <input asp-for="Total_Activies_Hours" class="form-control" readonly />
                <span asp-validation-for="Total_Activies_Hours" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group row">
              <div class="input-group col-12" title="Atividades">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-list-ul"></i>
                  </span>
                </div>
                <textarea asp-for="Activies" class="form-control" placeholder="Atividades" style="height:100px;" readonly></textarea>
                <span asp-validation-for="Activies" class="text-danger col-12"></span>
              </div>
            </div>

            <input type="hidden" asp-for="Project" class="form-control" />
            <input type="hidden" asp-for="Consultant" />
            <input type="hidden" asp-for="Id_Project" />
            <input type="hidden" asp-for="Employee_Id" />
            <input type="hidden" asp-for="Creation_Date" />
            <div class="form-group form-actions text-right">
              <div class="col-12">
                <button class="btn btn-sm btn-warning" data-dismiss="modal" aria-label="Close">Voltar</button>
                <!--@@if (@@Model.Approval == 1)
  {
    <input type="hidden" asp-for="Id" />
    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@@Model.Id" onclik="$('.modalSpinner').modal('show')">Editar</a>
  }-->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="~/js/Hour/Details.js?@DateTime.Now.ToString()"></script>