@model CoreUI.Web.Models.Client

@{
  ViewData["Title"] = "Details";
}

<div class="col-12">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i> Detalhes do cliente
          <div class="card-header-actions">
            <a asp-action="Create">
              <input type="hidden" asp-for="@ViewData["Email"]" />
              <input type="hidden" asp-for="@ViewData["Password"]" />
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <form id="projectForm" asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
              <div class="input-group col-10">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <input asp-for="Name" class="form-control" readonly />
                <span asp-validation-for="Name" class="text-danger col-12"></span>
              </div>
            </div>

            <div class="form-group form-actions text-right col-10">
              <button class="btn btn-sm btn-warning" type="submit" asp-action="Index" onclick="$('.modalSpinner').modal('show')">Voltar</button>
              <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Id" onclick="$('.modalSpinner').modal('show')">Editar</i></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
